
    <div class="controls">
        <div class="time-container">
          <p class="text-center">Select Time</p>
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-bind="click: function() {selectedWorkout(1)}">1</button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-bind="click: function() {selectedWorkout(2)}">2</button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" data-bind="click: function() {selectedWorkout(3)}">3</button>
              </div>
          </div>
        </div>

        <div class="intensity-container">
          <p class="text-center"><strong>Intensity: <span id="slide-value" data-bind="text: selectedIntensity"></span></strong></p>
          <div id="intensitySlider"></div>
        </div>
        <btn id="generate" class="center"><strong>GENERATE WORKOUT</strong></btn>
    </div>

    <div class="todaysWorkout" data-bind="if: (todaysWorkout() === 1)">

      <!-- warm up -->
      <div class="fifteenMin">
        <%= render 'workout_gen/warmup' %>
      </div>

      <!-- first circuit -->
      <div class="fifteenMin" data-bind="if: (firstCircuit().length > 2) ">
        <%= render 'workout_gen/firstCircuit' %>
      </div>

      <!-- second circuit -->
      <div class="fifteenMin" data-bind="if: (secondCircuit().length > 3)">
        <%= render 'workout_gen/secondCircuit' %>
      </div>

      <!-- third circuit -->
      <div class="fifteenMin" data-bind="if: (thirdCircuit().length > 3) ">
        <%= render 'workout_gen/thirdCircuit' %>
      </div>


      <!-- cooldown -->
      <div class="fifteenMin">
        <%= render 'workout_gen/cooldown' %>
      </div>

    </div> <!-- close todaysWorkout -->
