<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
  <%= link_to 'New Exercise', new_exercise_path %>
<% end %>

<h1>Listing Exercises</h1>
<style>
.exercises-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.exercise-item{
  width: 260px;
  margin: 1rem;
}
</style>
<section class="exercises-wrapper">
  <% @exercises.each do |exercise| %>
  <%= link_to exercise do %>
    <div class="exercise-item">
      <%= image_tag exercise.snapshot.url(:medium), :class => "" %>
      <h4><%= exercise.exercise %></h4>
      <p><%= exercise.category %></p>
    </div>
  <% end %>
  <% end %>
</section>
