<p id="notice"><%= notice %></p>

<% if current_user.admin? %>
  <%= link_to 'New Exercise', new_exercise_path %>
<% end %>

<h1>Listing Exercises</h1>
<style>
.exercises-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.exercise-item{
  width: 260px;
  margin: 1rem;
}
</style>
<section class="exercises-wrapper">
  <% @exercises.each do |exercise| %>
  <%= link_to exercise do %>
    <div class="exercise-item">
      <img alt="stock image" src="">
      <h4><%= exercise.exercise %></h4>
      <p><%= exercise.category %></p>
    </div>
  <% end %>
  <% end %>
</section>

<!--
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Exercise</th>
      <th>Onesided</th>
      <th>Compound</th>
      <th>Isolation</th>
      <th>Primary</th>
      <th>Secondary</th>
      <th>Impact</th>
      <th>Description</th>
      <th>Tip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.category %></td>
        <td><%= exercise.exercise %></td>
        <td><%= exercise.onesided %></td>
        <td><%= exercise.compound %></td>
        <td><%= exercise.isolation %></td>
        <td><%= exercise.primary %></td>
        <td><%= exercise.secondary %></td>
        <td><%= exercise.impact %></td>
        <td><%= exercise.description %></td>
        <td><%= exercise.tip %></td>
        <td><%= link_to 'Show', exercise %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
          <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
-->
