<p id="notice"><%= notice %></p>

<section class="main">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="<%= @exercise.video %>" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="title">
    <div class="name-cat-wrap">
      <h1><%=  @exercise.exercise %></h1>
      <h6> <%=  @exercise.category %></h6>
    </div>
    <div class="intensity">
      <h4><%=  @exercise.intensity %></h4>
      <h6>Intensity</h6>
    </div>
  </div>
  <div class="details-container">

    <% if @exercise.tip %>
      <div class="tips-container">
        <h4>Tips:</h4>
        <ul class="tips-list">
          <%= @exercise.tip %>
        </ul>
      </div>
    <% end %>

    <% if @exercise.description %>
      <div class="writeup-container">
        <h4>Instructions</h4>
        <p><%= @exercise.description %></p>
      </div>
    <% end %>

    <% if @exercise.primary %>
        <div class="muscle-groups-container">
          <h4>Muscle Groups</h4>
            <p>Primary:  <%= @exercise.primary %> </p>
            <% if @exercise.secondary %>
                <p>Secondary: <%= @exercise.secondary %></p>
            <% end %>
        </div>
    <% end %>

  </div>
</section>

<div>

  <% if current_user.admin? %>
  <%= link_to 'Edit', edit_exercise_path(@exercise) %> |
  <% end %>
  <%= link_to 'Back', exercises_path %>

</div>
